{% extends 'base.html.twig'%}
{% block title %}{{category.name}}{% endblock %}
{% block body %}
<div class="blog-container">
<h1 >{{category.name}}</h1>
{% for blog in category.getBlogs %}
<h2>{{blog.title}}</h2>
<p>{{blog.content|raw}}</p>
{% endfor %}
</div>
{% endblock %}