body{   
    font-family: 'Montserrat', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
:root{
    --primary-light-color:rgb(245, 246, 248);
}

/*-------------Navigation top-------------*/
header{
    width: 100%;
    height: auto;
    position: fixed;
    background-color: rgb(0, 0, 0);
    z-index: 5000;
    box-shadow: 3px 3px 3px black;
    display: flex;
    justify-content: flex-end;
  
}
nav {
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 3rem;
}

ul{
    list-style-type: none;
}

.nav-menu{
    display: flex;
	margin-left: 30px;
    align-items: center;
    gap: 60px;
}

.nav-link{
    text-decoration: none;
    color: rgb(226, 237, 238);
    font-size: 1.1rem;
    padding-bottom: 10px;
}

.nav-link:hover{
    border-bottom: 1px solid yellowgreen;

}
.nav-link.active{
    border-bottom: 1px solid yellowgreen;   
}

.bar{
    display: block;
    width: 36px;
    height: 2px;
    margin: 10px auto;
    -webkit-transition: all 0.4s;
    transition: all 0.4s ;
    background-color: rgb(197, 213, 214);
}
.hamburguer{
    display: none;
    cursor: pointer;
}
.align-left{
    text-align: left;
}

/*--------corps------------*/
.hero-container{
    background-color: black;
    box-shadow: 4px 4px 15px black;
    position: relative;  
}
#color-green{
    color: rgb(98, 195, 139);
    margin: 0 1rem;
}
.hero-container>img{
    width: 100%;
    margin-top: 90px;   
}
.hero-container-2 img{
    margin-top: 70px;
    width: 100%;
}
.hero-container-2 {
    background-color: black;
}
#hero-title{
    color: white;
    padding: 100px 20px;
    position: absolute;
    font-size: 2.5rem;
    z-index: 500;  
    display: flex;
    align-items: center;
}
#hero-title p{
    font-size: 2.5rem;
}
#hero-title span{
    position: relative;
    
    display: inline-block;
    animation: flip 5s infinite;
    transition-duration: 0.5s;
    animation-delay: calc(.1s *var(--i))
}
@keyframes flip{
    0%, 50%{
        transform: rotateY(360deg);
        scale: 1.14;
    }
   
}
p{
    font-size: 1.4rem;
    font-weight: 200;
    text-align: justify;
    line-height: 1.7;
}
h1{
    font-weight: 200;
    text-align: center;
    text-transform: capitalize;
}
h2{
    text-align: center;
}
h3{
    font-size: 1.5rem;
    font-weight: 300; 
}
img{
    object-fit: contain;
    max-width: 100%;
}

/*--------framework--------*/
.fa-brands{
    color: rgb(12, 12, 117);
}
.d-flex-col{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.flex-container{
    display: flex;
}
.d-flex-center{
    display: flex;
    justify-content: center;
}
.container-section{
    width: 75%;
    padding: 40px 0px;
}
.dark-container{
    background-color:black;
    color: rgb(218, 212, 212);
    box-shadow: 4px 4px 15px rgb(37, 36, 36);
}
.dark-container h1{
    color: rgb(153, 149, 149);
}
button{
    background-color: rgb(33, 114, 117);
    color: white;
    border: none;
    padding: 0.5rem;
    margin: 1rem 0;
    
}
.revealUp{
    opacity: 0;
    visibility: hidden;
}
/*-----Intro--------*/

.r-letter{
    font-weight: bold;
}
.jij{
    color: blue;
}
/*--------Projects--------------*/
.project-section{
    padding: 100px 0px;
}
.project-section h3{
    margin-bottom: 20px;
}
.projects-title{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}
.img-project{
    width: 100%;
    margin: 50px 0px;
    
}
.intro{
    display: flex;
    gap: 40px;
    padding: 60px 0px;
}
.intro >div{
    width: 50%;
}
.intro p{
    font-size: 1.1rem;
    margin-bottom: 2rem;
}
.intro h1{
    font-size: 23px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 20px;
}

.twitter-container{
    display: flex;
    justify-content: flex-end;
}
.twitter{
    width: 90%;
   object-fit: scale-down;
}
#projects{
    padding-top: 60px;
}
.img-height300{
    height: 350px;
    width: auto;
}
/*----------database--------------*/


/*------------members---------------*/
.img-member{
    width: 40%;
}
.img-member>img{
    
}
.member-container h2{
    font-size: 20px;
   text-align: left;
   padding-top: 5px;
}
.member-container p{
    font-size: 15px;
}

.member-container h3{
    font-size: 18px;
}
.member-container{
    display: flex;
    gap: 30px;
}
/*------------Publications-------------------*/
.publications-logo{
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding: 3rem 0;

}
.publications-logo img{
    width: 120px;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.253);
    transition-duration: 1s;
    padding: 0.1rem 0.4rem;
}
.publications-logo img:hover{
    opacity: 0.5;
    cursor: pointer;
    scale: 1.04;
}
.publications h1, .members h1{
    margin: 0;
    padding-top: 20px;
    text-align: center;
    text-transform: uppercase;   
}
.publications-container>a{
    text-decoration: none;
    color: rgb(132, 139, 138);
    padding-bottom: 4rem;
}
.publications-container>a:hover{
    opacity: 0.7;
}
.publications h2{
    text-transform: capitalize;
    font-size: 20px;
    color: white;
   
    text-align: left;
}
.publications h3{
    font-size: 18px;
    margin-top: 10px;
}
.publications p{
    margin-bottom: 3rem;
    font-size: 15px;
}
/*--------------connexion-------------------*/
.connexion form{
    width: 40%;
    margin: 0 auto;
}
.connexion h1{
    margin: 3rem 0;
}
#user{
    width: 100%;
}
input
{
    width: 100%;
    height: 2rem;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid gray;
    margin-bottom: 1rem;
}

/*----------blogcontainer--------*/
#connexion-container a{
    color: #62938c;
    text-decoration: none; 
    transition-duration: 0.4s;  
}
#connexion-container a:hover{
    scale: 1.05;
    color: rgb(185, 218, 212);
}
#connexion-container{
    display: flex;
    width: 70%;
    justify-content: flex-end;
    gap: 2rem;
}
.connexion{
    padding-top: 90px;
}
.blog-container{
    position: relative;
    display: flex;
    justify-content: center;
}
#blog-title-container{
    background-color: black;
    color: white;
    width: 100%;
    padding: 100px 0px;
    align-items: center;
    display: flex;
    flex-direction: column;
}
#blog-title{
    font-size: 5rem;
    border-bottom:0.6px solid white;
    padding-bottom: 3rem;
    width: 30%;

}
.categories-list a{
    text-decoration: none;
    color: white;
    
}
.categories-list li{
    list-style-type: none;
    padding-bottom: 0.5rem;
}
.categories-list li:hover{
    scale: 1.2;
}
.categories-list{
    display: flex;
    justify-content: center;
    padding: 4rem 0;
    gap: 4rem;
}
#box-articles{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
#box-articles h3{
    font-family: serif;
    margin-bottom: 1rem;
    font-size: 1.6rem;
}
.article-list-container{
    width: 70%;
    margin: 0px auto;
    padding: 3rem 0;
    background-color: var(--primary-light-color);
    position: absolute; 
    top: 400px;
  
}
.article-list-container a{
    color: black;
}
.grid-container{
    display: flex; 
    gap: 2rem; 
    flex-wrap: wrap;
    justify-content: center;
}
#first-article{
    width: 100%;
   display: flex;
   gap: 1rem;
   margin-bottom: 2rem;
}
.img-container-first{
    width: 40%;
    overflow: hidden;
    
}
#first-article img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition-duration: 2s;
}
#first-article .article-container{
    width: 60%;
}
.article-container-aside{
    margin: 1rem 0;
}
.article-category-container h3{
    font-size: 1.4rem;
    color: cadetblue;
    font-weight: bold;
    text-transform: uppercase;
}
.article-container-aside .img-container{
    height: 9rem;
    margin: 0.5rem 0;
}
.article-container-aside img{
    height: 100%;
}

.article-container-w30{
    width: 20%;
    margin-bottom: 2.5rem;
}
.article-container:hover{
    opacity: 0.6;
}
.article-container h4:hover{
    color: blue;
}
#box-articles h2{
    font-size: 1.3rem;
    font-weight: 300;
    text-transform: uppercase;
}
.article-container a{
    text-decoration: none;
}
.article-container p{
    font-size: 1rem;
}
.img-container{
    width: 100%;
    overflow: hidden;
    height: auto;
}
.article-container img{
    width: 100%;
    transition-duration: 2s;
}
.article-container img:hover, .img-container-first img:hover{
    scale: 1.1;
}
/*-------------Category--------------------------*/
.category-container{
    padding-top: 70px;
    min-height: 100vh;
}
.category-grid-container{
    width: 70%;
    margin: 0 auto;
}
.category-title{
    padding: 3rem 0;
    color: white;
}
.category-container h1{

    font-size: 5rem;
}
.category-article{
    color: white;
}

/*-----------Article's detail ------------*/
.article-detail-container{
    padding-top: 70px;
}
.img-detail-container{
    width: 100%;
    height: 300px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}
.card-overlay{
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title-article-container h1{
    text-transform: uppercase;
    font-size: 3rem;
    width: 70%;
    font-family: serif;
}
.content-article{
    width: 75%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 auto;
    
    background-color: var(--primary-light-color);
    padding: 2rem;
}
.article-detail{   
    width: 65%;
    font-size: 1.2rem;
    line-height: 2.4rem;
    text-align: justify;
}
.article-detail a{
    text-decoration: none;
    color: rgb(13, 177, 128);
}
.comments-container{
    margin-top:3rem;
}
#comment{
    width: 50%;
}
#comment >div{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
#comment label{
    font-size: 1rem;
}
.comment-date{
    font-weight: 300;
    font-size: 1rem;
    font-style: italic;
}
.article-category-container, .article-detail{
padding: 1.7em 0;
}
.article-category-container{
    width: 20%;
}
.article-category-container img{
    width: 100%;
    gap: 1rem;
}
.article-category-container p{
    font-size: 1rem;
    line-height: 1;
}
@media screen and (max-width:  1400px)
{	
    .hamburguer{
        display: block;
		margin-left: 20px;
    }
    .hamburguer.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburguer.active .bar:nth-child(1){
        transform: translateY(12px) rotate(45deg);
    }
    .hamburguer.active .bar:nth-child(3){
        transform: translateY(-12px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        left: -110%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: black;
        width: 100%;
        text-align: center;
        transition: 0.3s;
		padding: 0px;
        margin: 0;
    }
    .container-section {
        width: 90%;  
    }
    .nav-item{
    
        
		font-size: 30px;
        width: 100%;
    }
    .nav-item:hover{
        background-color: rgb(16, 23, 59);
        
    }
	.nav-item>a{

        padding: 20px 0px;
        display: block;
	}
    .nav-link:hover{
        color: rgb(134, 211, 233);
        border-bottom: none;
    }
    
    .nav-menu.active{
    left: 0;
    }
    #projects{
        padding-top: 20px;
    }
	

}
@media screen and (max-width:  900px){
    
    .member-container{
        flex-direction: column;

    }
    .twitter{
        height: 400px;
    }
    .img-member {
        display: flex;
        justify-content: center;
    }
    .img-member >img{
        width: 230px;
        height: 250px;
        margin-bottom: 20px;
    }
   
    .intro{
        flex-direction: column;
    }
    .intro>div{
        flex-direction: column;
        width: 100%;
    }
}
