{% extends 'base.html.twig' %}

{% block title %}The R Lab: Database{% endblock %}

{% block body %}
    <div class="hero-container-2">
        <img src="./images/hero-RLab2.png">
    </div>
    <div class="dbLab" id="database">
        <h1>Databases</h1>
        <img src="./images/pangaea-share.png"/>
    </div>
    <div class="dbLab" id="companies">
        <h1>Companies</h1> 
    </div>
    <div class="dbLab" id="gallery">
        <h1>Gallery</h1> 
    </div>
{% endblock %}