{% extends 'base.html.twig' %}

{% block title %}The R Lab: Database{% endblock %}

{% block body %}
    <div class="hero-container-2">
        <img src="./images/hero-RLab2.png">
    </div>
    
    <div class="dbLab" id="database">
        300
        
    </div>
    <div class="dbLab" id="companies">
        <h2>Companies</h2> 
        <div class="database-container">
        <h3 class="companies-subtitle">Funded </h3>
        <div class=" logos-db-container">
            <a href="https://cigarettewaste.com/" target="_blank" ><img src="./images/Databases/rezero.jpg" class="img-database"></a>
            <a href="https://cigarettewaste.com/" target="_blank" ><img src="./images/Databases/naiad.png" class="img-database"></a>
        </div>
        <h3 class="companies-subtitle">Partners</h3>
        <div class="logos-db-container">
            <a><img src="./images/Databases/bio.jpg" class="img-database"></a>
            <a><img src="./images/Databases/cymantic.png" class="img-database"></a>
        </div>
        <h3 class="companies-subtitle">Consultancy</h3>
        <div class=" logos-db-container">
            <a href="https://www.zeiss.com/microscopy/en/products/light-microscopes/light-sheet-microscopes/lightsheet-7.html" target="_blank" ><img src="./images/Databases/Zeiss_logo.svg.png" class="img-database"></a>
            <a href="https://www.emec.org.uk/about-us/wave-clients/aquamarine-power/" target="_blank" ><img  src="./images/Databases/Aquamarine_Power_logo.jpg" class="img-database"></a>
            <a href="https://www.aura-optik.de/" target="_blank" ><img  src="./images/Databases/aura-optik.jpg" class="img-database"></a>
        </div>
        </div>
       
    </div>
    <div class="dbLab" id="gallery">
        <h2>Gallery</h1> 
    </div>
   
{% endblock %}