{% extends 'base.html.twig' %}

{% block title %}The R Lab: publications{% endblock %}

{% block body %}
<div class="hero-container-2">
        <img src="./images/hero-RLab2.png">
    </div>
    <div class="members dark-container">
        <div>
            <h1>Members</h1>
        </div>
        <div class="d-flex-center">
            
            <div class="container-section member-container">
                <div class="img-member">
                    <img src="https://www.fancypapers.com/wp-content/uploads/2020/03/K-COLOUR_DARK_RED_140-250gsm-320x320-1.jpg">
                </div>
                <div>
                    <h2>Robert Haase. </h2>
                    <h3>Bio-image analysis technology development group. DFG Cluster of</h3>
                    <p>BiA-PoL</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat</p>
                </div>
            </div>
        </div>
        <div class="d-flex-center">
            <div class="container-section member-container">
                <div class="img-member">
                    <img src="https://www.fancypapers.com/wp-content/uploads/2020/03/K-COLOUR_DARK_RED_140-250gsm-320x320-1.jpg">
                </div>
                <div>
                    <h2>Gaudenz Danuser</h2>
                    <h3>Molecular cell biology, live cell imaging, signal processing, computer vision. UT Southwestern Medical Center. USA.</h3>
                    <p>Danuser lab</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat</p>
                </div>
            </div>
        </div>
        <div class="d-flex-center">
            
            <div class="container-section member-container">
                <div class="img-member">
                    <img src="https://www.fancypapers.com/wp-content/uploads/2020/03/K-COLOUR_DARK_RED_140-250gsm-320x320-1.jpg">
                </div>
                <div>
                    <h2>Robert Haase. </h2>
                    <h3>Bio-image analysis technology development group. DFG Cluster of</h3>
                    <p>BiA-PoL</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat</p>
                </div>
            </div>
        </div>
        <div class="d-flex-center">
            <div class="container-section member-container">
                <div class="img-member">
                    <img src="https://www.fancypapers.com/wp-content/uploads/2020/03/K-COLOUR_DARK_RED_140-250gsm-320x320-1.jpg">
                </div>
                <div>
                    <h2>Gaudenz Danuser</h2>
                    <h3>Molecular cell biology, live cell imaging, signal processing, computer vision. UT Southwestern Medical Center. USA.</h3>
                    <p>Danuser lab</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat</p>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}