{% extends 'base.html.twig' %}

{% block title %}The R Lab: publications{% endblock %}

{% block body %}
<div class="hero-container-2">
        <img src="./images/hero-RLab2.png">
    </div>
    <div class="dark-container publications" >
        <h1>Publications</h1>
        <div class="publications-logo">
         <a href="https://scholar.google.com/citations?user=VH8b9mcAAAAJ&hl=en"><img src="./images/google-scholar.jpg"/></a>
         <a href="https://orcid.org/0000-0003-1502-661X"><img src="./images/ORCID_logo.png"/></a>
        </div>
    <div class="d-flex-center">
        <div class="container-section publications-container"> 
            <a href="https://link.springer.com/article/10.1186/s12954-023-00732-x">
                <h2>Remote harm reduction services are key solutions to reduce the impact of COVID-19-like crises on people who use drugs: evidence from two independent structures in France and in the USA.</h2>
                <h3>Magally Torres-Leguizamon, Jamie Favaro, Dan Coello, Emmanuel G. Reynaud, Thomas Néfau & Catherine Duplessy </h3>
                <p>Published: 07 January 2023</p>
            </a>
            <a href="https://link.springer.com/chapter/10.1007/978-3-031-04477-9_12">
                <h2>Light-Sheet Fluorescence Microscopy.</h2>
                <h3>George O. T. Merces & Emmanuel G. Reynaud.</h3>
                <p>First Online: 30 November 2022</p>
            </a>
            <a href="https://www.nature.com/articles/s41592-022-01484-5">
                <h2>CAD we share? Publishing reproducible microscope hardware.</h2>
                <h3>Benedict Diederich, Caroline Müllenbroich, Nikita Vladimirov, Richard Bowman, Julian Stirling, Emmanuel G. Reynaud & Andrey Andreev </h3>
                <p>Published: 04 May 2022</p>
            </a>
            <a href="https://www.nature.com/articles/s41592-022-01602-3">
                <h2>Open microscopy in the life sciences: quo vadis?</h2>
                <h3>Johannes Hohlbein, Benedict Diederich, Barbora Marsikova, Emmanuel G. Reynaud, Séamus Holden, Wiebke Jahr, Robert Haase & Kirti Prakash </h3>
                <p>Published: 25 August 2022</p>
            </a>
            <a href="https://assets.researchsquare.com/files/rs-1758408/v1/e5eef6db-d6b6-45d7-906d-54d2e9f66a25.pdf?c=1655918699">
                <h2>Mail-based harm reduction services are key solutions to reduce the impact of COVID-19-like crises on people who use drugs: evidence from two independent structures in France …</h2>
                <h3>Magally Torres-Leguizamon, Jamie Favaro, Dan Coello, Emmanuel G Reynaud, Thomas Néfau, Catherine Duplessy</h3>
                <p>Published: 6 June 2022</p>
            </a>
            
            <a href="https://onlinelibrary.wiley.com/doi/full/10.1111/jmi.13109">
                <h2>Challenges and advances in optical 3D mesoscale imaging</h2>
                <h3>Sebastian Munck, Christopher Cawthorne, Abril Escamilla‐Ayala, Axelle Kerstens, Sergio Gabarre, Katrina Wesencraft, Eliana Battistella, Rebecca Craig, Emmanuel G Reynaud, Jim Swoger, Gail McConnell</h3>
                <p>Published: June 2022</p>
            </a>
            
            <a href="https://royalsocietypublishing.org/doi/full/10.1098/rsta.2020.0389">
                <h2>The biology of imaging</h2>
                <h3>Emmanuel G Reynaud</h3>
                <p>Published: 4 April 2022</p>
            </a>
            <a href="https://patents.google.com/patent/US20210149171A1/en">
                <h2>Adapter for Use with a Sample Holder, and Method for Arranging a Sample in a Detection Beam Path of a Microscope</h2>
                <h3>Ralph Lange, Rebecca Elsasser, Harald Schadwinkel, Emmanuel G Reynaud</h3>
                <p>Published: 20 May 2022</p>
            </a>
            <a href="https://iopscience.iop.org/book/edit/978-0-7503-3059-6/chapter/bk978-0-7503-3059-6ch7">
                <h2>Light sheet fluorescence microscopy</h2>
                <h3>Adam Glaser, Emmanuel G Reynaud</h3>
                <p>Published: 1 May 2022</p>
            </a>
           
            
        </div>
    </div>
</div>
    <div class="dark-container d-flex-center">
        <div class="container-section">
            
            
            <p>Contact</p>
            <p>The R Lab</p>
            <p>email@mail.com</p>
        </div>
    </div>
{% endblock %}