{% extends 'base.html.twig' %}

{% block title %}The R Lab: publications{% endblock %}

{% block body %}
<div class="hero-container-2">
        <img src="./images/hero-RLab2.png">
    </div>
    <div class="dark-container publications" >
        <h1>Publications</h1>
    <div class="d-flex-center">
        <div class="container-section"> 
            <h2>Bio-image analysis technology development group. DFG Cluster of Excellence "Physics of Life", TU Dresden, Germany.</h2>
            <h3>Robert Haase.</h3>
            <p>First published:November 16, 2022</p>
            <h2>Bio-image analysis technology development group. DFG Cluster of Excellence "Physics of Life", TU Dresden, Germany.</h2>
            <h3>Robert Haase.</h3>
            <p>First published:November 16, 2022</p>
            <h2>Bio-image analysis technology development group. DFG Cluster of Excellence "Physics of Life", TU Dresden, Germany.</h2>
            <h3>Robert Haase.</h3>
            <p>First published:November 16, 2022</p>
            <h2>Bio-image analysis technology development group. DFG Cluster of Excellence "Physics of Life", TU Dresden, Germany.</h2>
            <h3>Robert Haase.</h3>
            <p>First published:November 16, 2022</p>
            
        </div>
    </div>
</div>
    <div class="dark-container d-flex-center">
        <div class="container-section">
            
            
            <p>Contact</p>
            <p>The R Lab</p>
            <p>email@mail.com</p>
        </div>
    </div>
{% endblock %}